
div.my-container{
    margin-top: 50px;
}

img.spiner{
    width: 32px;
    height: 32px;
    display: none;
}

.slider-range {
    margin: 20px 10px;
}

.info-map {
    height: 180px;
    width: 230px;
}