
<hr>
<div class="row-fluid">
    <div class="span7">
        <div class="control-group">
            <div class="controls">
                <h3><%= comment.name %></h3>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <h5><%= comment.message %></h5>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span3">Timeliness:</div>
            <div id="timeliness<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span3">Comfort:</div>
            <div id="comfort<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span3">WiFi:</div>
            <div id="wifi<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span3">Empty seating:</div>
            <div id="empty-seating<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span3">Cleanliness:</div>
            <div id="cleanliness<%= comment.id %>" class="span9"></div>
        </div>
    </div>
</div>
