
<hr>
<div class="row-fluid">
    <div class="span8">
        <div class="control-group">
            <div class="controls">
                <h3><%= comment.name %></h3>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <h4><%= comment.message %></h4>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row-fluid">
            <div class="span4">Timeliness:</div>
            <div id="timeliness<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span4">Comfort:</div>
            <div id="comfort<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span4">WiFi:</div>
            <div id="wifi<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span4">Empty seating:</div>
            <div id="empty-seating<%= comment.id %>" class="span9"></div>
        </div>
        <div class="row-fluid">
            <div class="span4">Cleanliness:</div>
            <div id="cleanliness<%= comment.id %>" class="span9"></div>
        </div>
    </div>
</div>
